*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myNav{
  display: flex;
  justify-content: space-around;
  background-color: red;
  align-items: center;
}

.myNav ul{
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 25px;
  cursor: pointer;
}